

.login-container {
  font-family: 'Arial', sans-serif;
  color: #333;
  background-color: #f9f9f9;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
.login-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 50px;
}

.login-content h1 {
  font-size: 28px;
  margin-bottom: 10px;
  color: #2B3F6D;
}

.subtitle {
  color: #777;
  margin-bottom: 30px;
}

.login-form {
  width: 100%;
  max-width: 400px;
  background: transparent;

}

.input-group {
  margin-bottom: 20px;
}

.input-group label {
  display: block;
  margin-bottom: 8px;
  font-size: 14px;
  font-weight: bold;
  color: #2B3F6D;
}

.input-group input {
  width: 100%;
  padding: 12px;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-sizing: border-box;
}

.form-options {
  display: flex;
  justify-content: space-between;
  font-size: 13px;
  margin-bottom: 25px;
}

.btn-primary-login {
  width: 100%;
  padding: 12px;
  background: #2B3F6D;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.divider {
  text-align: center;
  margin: 20px 0;
  position: relative;
}

.divider::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  height: 1px;
  background: #ddd;
  z-index: 1;
}

.divider span {
  background: #f9f9f9;
  padding: 0 10px;
  position: relative;
  z-index: 2;
  font-size: 12px;
  color: #777;
}

.social-login {
  display: flex;
  gap: 15px;
  margin-bottom: 20px;
}

.btn-social {
  flex: 1;
  padding: 10px;
  border: 1px solid #ddd;
  background: white;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  cursor: pointer;
}

.btn-social img {
  width: 18px;
}

.btn-signup-nav {
  background: black;
  color: white;
  padding: 8px 20px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}


.footer-link {
  text-align: center;
  font-size: 14px;
}

.register-container {
  font-family: 'Inter', sans-serif; 
  color: #2D3748;
  background-color: #f8fafc;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

/* Responsive */
@media (max-width: 768px) {
  .stats {
    flex-direction: column;
    gap: 30px;
    align-items: center;
  }
}