/* Cards */
.cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 25px;
}

.card {
  background: white;
  padding: 20px;
  border-radius: 10px;
  text-align: left;
}

.card img {
  width: 100%;
  height: 160px;
  object-fit: cover;
  border-radius: 8px;
  margin-bottom: 12px;
}
.actions .btn-outline {
  background-color: #f5f8fb;
  width: 80px;
  text-align: center;
  font-weight: 600;
}
.actions {
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
}

.section.light {
  padding: 80px 5%;
  background-color: #f8fbff;
  text-align: center;
}

/* Container */
.container {
  max-width: 1200px;
  margin: 0 auto;
}

/* Section */
.section.light {
  padding: 80px 5%;
  background-color: #f8fbff;
  text-align: center;
}



.subtitle {
  color: #6c757d;
  margin-bottom: 60px;
  text-align: center;
}
/* Titles */
.section h2 {
  font-size: 2rem;
  color: #1a2a4e;
  margin-bottom: 10px;
  text-align: center;
}
